@media (max-width: 1199.98px) {
	.mmenu-btns {
		display: flex;
	}
	.navbar-btns {
		display: none;
	}
	.hero-img-txt h1 {
		max-width: 500px;
	}
}
@media (min-width: 1199.98px) {
	.mmenu-btns {
		display: none;
	}
	.navbar-brand {
		margin-right: 60px;
	}
	.navbar-nav {
		width: 77%;
		justify-content: space-between;
	}
	.menu-slide-collapse {
		justify-content: space-between;
	}
}
@media (max-width: 991.98px) {
	.menu-slide-collapse {
		position: fixed;
		height: 100vh;
		width: 65%;
		right: -100%;
		top: 0;
		padding: 100px 20px;
		background: #0A0A0A;
	}
	.nav-link {
		padding: 0px 0px 25px 0px;
	}
	.nav-link+.dropdown-menu {
		margin-top: -10px;
		padding-bottom: 25px;
	}
	.img-dog {
		width: 360px;
	}
	.hero-img-txt h1 {
		max-width: 100%;
	}
	.footer-row-item {
		width: 33%;
	}
	.footer-bottom-wrap div {
		display: block;
	}
	.footer-divider {
	    position: relative;
	    width: 100vw;
	    left: calc(-50vw + 50%);
	}
}
@media (min-width: 991.98px){
	.mmenu-btns .menu-slide-btn {
		display: none;
	}
	.collapse:not(.show) {
		display: block;
	}
	.navbar-expand-lg .navbar-nav .dropdown-menu {
		background: #000;
		border-radius: 4px;
		padding: 15px 20px;
	}
}
@media (max-width: 767.98px) {
	h1 {
		font-size: 36px;
		line-height: 40px;
	}
	h2 {
		font-size: 24px;
		line-height: 30px;
	}
	h3 {
		font-size: 20px;
		line-height: 25px;
	}
	.footer ul li {
		font-size: 14px;
		line-height: 18px;
	}
	.footer-row-item:last-child {
		width: 66%;
	}
}
@media (max-width: 575.98px) {
	.navbar-brand img {
		width: 123px;
		height: 32px;
	}
	.mmenu {
	    width:24px;
	    height: 24px;
	}
	.mmenu span {
	    width: 80%;
	}
	.mmenu span:before {
		top: -5px;
	}
	.mmenu span:after {
		top: 5px;
	}
	.btn-group {
    	flex-direction: column;
	}
	.btn-group .my-btn-big-color {
		margin-right: 0;
	}
	.img-dog {
		width: 288px;
	}
	.footer-row {
		margin: 0 0 -30px 0;
		padding: 0px 30px;
	}
	.footer-row-item {
		width: 50%;
	}
	.footer ul {
		margin-right: 0;
	}
	.footer-row-item:last-child {
		width: 100%;
	}
	.footer-row-item:last-child ul li a {
		color: #FFDD2C;
		font-weight: 700;
	}
	.footer-bottom {
		padding: 0 15px;
	}
	.footer-bottom-social {
		position: relative;
		text-align: center;
		margin-bottom: 5px;
	    top: 0;
	    left: 0;
	    transform: translate(0);
	}
	.footer-bottom-wrap {
		flex-direction: column;
	}
	.footer-bottom-item {
	    display: flex !important;
	    width: 100%;
	    justify-content: center;
	}
	.footer-divider {
		margin-top: 30px;
	}
}