*,::after,::before{box-sizing:border-box}html{font-family:sans-serif;line-height:1.15;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;-ms-overflow-style:scrollbar;-webkit-tap-highlight-color:transparent}@-ms-viewport{width:device-width}article,aside,figcaption,figure,footer,header,hgroup,main,nav,section{display:block}body{margin:0;font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";font-size:1rem;font-weight:400;line-height:1.5;color:#212529;text-align:left;background-color:#fff}[tabindex="-1"]:focus{outline:0!important}hr{box-sizing:content-box;height:0;overflow:visible}h1,h2,h3,h4,h5,h6{margin-top:0;margin-bottom:.5rem}p{margin-top:0;margin-bottom:1rem}abbr[data-original-title],abbr[title]{text-decoration:underline;-webkit-text-decoration:underline dotted;text-decoration:underline dotted;cursor:help;border-bottom:0}address{margin-bottom:1rem;font-style:normal;line-height:inherit}dl,ol,ul{margin-top:0;margin-bottom:1rem}ol ol,ol ul,ul ol,ul ul{margin-bottom:0}dt{font-weight:700}dd{margin-bottom:.5rem;margin-left:0}blockquote{margin:0 0 1rem}dfn{font-style:italic}b,strong{font-weight:bolder}small{font-size:80%}sub,sup{position:relative;font-size:75%;line-height:0;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}a{color:#007bff;text-decoration:none;background-color:transparent;-webkit-text-decoration-skip:objects}a:hover{color:#0056b3;text-decoration:underline}a:not([href]):not([tabindex]){color:inherit;text-decoration:none}a:not([href]):not([tabindex]):focus,a:not([href]):not([tabindex]):hover{color:inherit;text-decoration:none}a:not([href]):not([tabindex]):focus{outline:0}code,kbd,pre,samp{font-family:SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;font-size:1em}pre{margin-top:0;margin-bottom:1rem;overflow:auto;-ms-overflow-style:scrollbar}figure{margin:0 0 1rem}img{vertical-align:middle;border-style:none}svg{overflow:hidden;vertical-align:middle}table{border-collapse:collapse}caption{padding-top:.75rem;padding-bottom:.75rem;color:#6c757d;text-align:left;caption-side:bottom}th{text-align:inherit}label{display:inline-block;margin-bottom:.5rem}button{border-radius:0}button:focus{outline:1px dotted;outline:5px auto -webkit-focus-ring-color}button,input,optgroup,select,textarea{margin:0;font-family:inherit;font-size:inherit;line-height:inherit}button,input{overflow:visible}button,select{text-transform:none}[type=reset],[type=submit],button,html [type=button]{-webkit-appearance:button}[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner{padding:0;border-style:none}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}input[type=date],input[type=datetime-local],input[type=month],input[type=time]{-webkit-appearance:listbox}textarea{overflow:auto;resize:vertical}fieldset{min-width:0;padding:0;margin:0;border:0}legend{display:block;width:100%;max-width:100%;padding:0;margin-bottom:.5rem;font-size:1.5rem;line-height:inherit;color:inherit;white-space:normal}progress{vertical-align:baseline}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{outline-offset:-2px;-webkit-appearance:none}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{font:inherit;-webkit-appearance:button}output{display:inline-block}summary{display:list-item;cursor:pointer}template{display:none}[hidden]{display:none!important}

@font-face {
  font-family: OpenSans-regular;
  src: url(../font/OpenSans-Regular.ttf);
}
@font-face {
  font-family: OpenSans-light;
  src: url(../font/OpenSans-Light.ttf);
}
@font-face {
  font-family: OpenSans-bold;
  src: url(../font/OpenSans-Bold.ttf);
}
body {
  font-family: 'OpenSans-regular', sans-serif;
  font-size: 16px;
  color: #313131; 
}
html {
  background-color: #2e3039;
}
section, footer {
  padding: 40px 0;
}
footer {
  background-color: #1a191a;
  color: #fff;
}
h1 {
  font-family: opensans-light;
  font-weight: lighter;
  font-size: 60px;
  line-height: 80px;
  letter-spacing: -2.1px;
  margin-bottom: 20px;
}
h3 {
  font-family: opensans-light;
  font-size: 24px;
  font-weight: lighter;
  display: inline-block;
  margin-bottom: 25px;
}
h4 {
  font-size: 16px;
  color: #2196F3;
  font-weight: lighter;
}
a {
  color: #2196F3;
}
a:hover {
  color: #1071e8;
  text-decoration: none;
}
a[href*='http'] {
  display: flex;
  align-items: center;
}
a[href*='http']::after {
  content: '';
  width: 12px;
  height: 12px;
  display: block;
  margin-left: 5px;
  background-image: url('../img/target-blank.png');
  opacity: .5;
}
ol {
  list-style-type: none;
  counter-reset: num;
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;
}
ol li{
  list-style: none;
  margin-bottom: 30px;
}
ol li::before {
  content: counter(num);
  counter-increment: num;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  border: 1px solid #c1c1c1;
  font-size: 16px;
  border-radius: 50%;
  float: left;
}
img {
  max-width: 100%;
  height: auto;
}
label {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  font-size: 20px;
  margin-bottom: 25px;
}
label input {
  width: 25px;
  height: 25px;
  margin-right: 15px;
}
.small {
  font-size: 12px;
}
.btn {
  position: relative;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  background-color: #2196f3;
  padding: 5px 15px;
  border-radius: 3px;
  color: #fff;
  line-height: 31px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.btn:hover {
  color: #fff;
  background: #006aef;
}
.btn[disabled] {
  opacity: .5;
  cursor: default !important;
}
.btn[disabled]:hover {
  background-color: #2196f3;
}
.container {
  position: relative;
  width: 960px;
  margin: 0 auto;
}
.row {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  padding: 0 15px;
  flex-direction: column;
}
.col-5 {
  width: 41.666667%;
}
.col-7 {
  width: 58.333333%;
}
.zero {
  position: relative;
  background-image: url('../img/zero-bg.jpg');
  height: 665px;
}
.zero::after {
  content: '';
  position: absolute;
  display: block;
  bottom: 0;
  width: 100%;
  height: 150px;
  background: #faf9f9;
}
.zero .row {
  justify-content: flex-end;
  align-items: flex-end;
}
.zero__img {
  position: absolute;
  left: -500px;
  top: 81px;
  z-index: 50;
}
.zero__box {
  position: relative;
  top: 150px;
  width: 370px;
}
.zero__title {
  font-size: 32px;
  color: #fff;
  font-family: opensans-light;
  margin-bottom: 20px;
}
.zero__toggle-btn {
  position: relative;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.zero__toggle-btn span {
  border-bottom: 1px dotted #313131;
  padding-bottom: 3px;
}
.zero__toggle-btn::before {
  content: '';
  display: block;
  width: 16px;
  height: 16px;
  margin-right: 10px;
  background-image: url(../img/info.png);
  cursor: pointer;
}
.zero__toggle {
    background: #f2f2f2;
    border-radius: 3px;
    padding: 8px 15px 11px;
    margin-top: 15px;
    font-size: 14px; 
}
.zero__btn-group {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}
.zero__btn::before {
  content: '';
  display: block;
  width: 22px;
  height: 22px;
  margin-right: 10px;
}
.zero__btn--pay::before {
  background-image: url('../img/cash.png');
}
.zero__btn--credit::before {
  background-image: url('../img/credit.png');
}
.pay {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #c1c1c1;
}
.pay__head {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
}
.pay__toggle {
  display: table;
  color: #8e8e8e;
  border-bottom: 1px dotted;
  cursor: pointer;
}
.pay__item {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
}
.pay__txt {
  background: #f2f2f2;
  padding: 15px 25px;
  border-radius: 3px;
  font-size: 14px;
}
.pay__txt ol {
  max-width: 600px;
}
.pay__li {
  padding: 5px 0px 0px 15px;
  display: flex;
  flex-direction: column;
}
.pay__li span {
  margin-bottom: 15px;
}
.pay__li span:last-child {
  margin-bottom: 0;
}
.pay__li img {
  margin-bottom: 20px;
}
.pay__li--link {
  display: inline-block;
}
.col-5 p {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
}
.info-box {
  padding: 15px 20px;
  margin-bottom: 20px;
  border-radius: 3px;
}
.info-box span {
  position: relative;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
}
.info-box span::before {
  content: '';
  display: block;
  width: 16px;
  height: 16px;
  margin-right: 10px;
}
.info-box--white {
  background: #fff;
}
.info-box--red {
  background: #e83535;
  color: #fff;
}
.info-box--white span::before {
  background-image: url('../img/info.png');
}
.info-box--red span::before {
  background-image: url('../img/info-w.png');
}
.light-gray {
  background: #ececec;
}
.blue {
  background: #2196f3;
  color: #fff;
}
.free-site {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.free-site a {
  color: #fff;
  text-decoration: none;
  border-bottom: 1px solid #63b1f1;
  transition: all .2s ease-in-out;
}
.free-site a:hover {
  opacity: .6;
}
.btn.form-credit__submit {
  border: 0;
  cursor: pointer;
}
.footer__contact {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
}
.footer__contact {
  border-bottom: 1px solid #383738;
  padding-bottom: 40px;
  margin-bottom: 40px;
}
.footer__icon {
  width: 40px;
  height: 68px;
  display: block;
  background-image: url(../img/contacts-phone-icon.png);
  margin-right: 20px;
}
.footer__txt {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
}
.footer__txt .small {
  opacity: .5;
}
.footer__tel {
  color: #fff;
  font-size: 19px;
  font-weight: lighter;
  transition: all .2s ease-in-out;
}
.footer__tel:hover {
  color: #fff;
  text-decoration: none;
  opacity: .5;
}
.footer__copyright {
  font-size: 12px;
  opacity: .5;
}

@media (max-width: 991.98px) {
  .zero .row {
    align-items: center;
  }
  .zero__img {
    order: 2;
    position: relative;
    left: -189px;
    top: 0;
  }
  .zero__box {
    top: 20px;
    text-align: center;
    margin-bottom: 50px;
  }
  .zero::after {
    height: 134px;
  }
}